/* src/components/AddPeopleModal.module.css */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px; /* Set your desired width */
    text-align: center;
}

.emailInput {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}

.cancelButton, .addButton {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

.cancelButton {
    background: #f0f0f0; /* Light gray */
}

.addButton {
    background: #007bff; /* Primary color */
    color: white;
}
