.analyticsContainer {
    padding: 20px;
    padding-top: 10px; /* Bring the content higher */
}

.analyticsHeading {
    font-size: 1.5em;
    margin-bottom: 5px; /* Reduced margin for closer spacing */
}

.analyticsTables {
    display: flex;
    gap: 10px; /* Reduced gap between the tables */
}

.tableContainer {
    flex: 1;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9fcff;
}

.taskList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.taskList li {
    display: flex;
    /* justify-content: space-between; */
    gap: 40px; /* Reduced gap between task and number */
    padding: 8px 0;
    position: relative;
}

.taskList li::before {
    content: "•"; /* Bullet point */
    color: #90c4cc; /* Cyan color for bullet */
    font-size: 1.2em;
    position: absolute;
    left: -20px; /* Move the bullet more to the left */
}

.taskList span {
    color: #333;
}

.taskList li span:last-child {
    margin-left: 5px; /* Reduced the space between task and number */
}
