
.settingsContainer {
    display: block;
    max-width: 400px; 
    padding: 20px; 
  }
  
  .settingsLabel {
    display: block;
    margin-bottom: 5px; 
  }
  
  .settingsInput {
    display: block; 
    width: 100%; 
    margin-bottom: 15px; 
  }
  
  .settingsButton {
    display: block; 
    width: 100%; 
    margin-top: 10px; 
  }
  
  .settingsMessage {
    color: red; 
    margin-bottom: 10px; 
  }
  