.taskBoard {
    overflow-y: auto; /* Add scroll functionality */
    max-height: 400px; /* Limit height */
    padding: 10px;
    
}

.taskCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskPriority {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; /* Add border */
    padding: 2px; /* Add some padding */
    border: none; /* Rounded corners */
    font-size: 12px; /* Smaller font size */
}

.priorityImage {
   
    margin-right: 5px; /* Space between image and text */
}

.taskAssignee {
    margin-left: 10px;
    font-weight: bold;
}

.taskOptions button {
    margin-left: 5px;
    border: none;
    background-color: white;
}

.taskTitle {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden; /* Ensure overflow is hidden */
    white-space: nowrap; /* Prevent wrapping */
    text-overflow: ellipsis; /* Add ellipsis for overflow */
    max-width: 100%; /* Ensure it doesn't exceed card width */
    cursor: pointer; /* Show pointer cursor on hover */
}

.checklistProgress {
    font-size: 14px;
}

.expandChecklistButton {
    position: relative;
    left: 15.5em;
    bottom: 1.8em;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupMenu {
    position: absolute;
    top: 21.5%; /* Positions the popup just below the button */
    right: 10%; /* Aligns it to the right of the button */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100; /* Ensures it appears above other elements */
    padding: 10px;
    width: 120px; /* Set width to keep it compact */
    margin-top: 5px; /* Space between the button and popup */
    border-radius: 4px;
}

.popupMenu button {
    display: block;
    width: 100%; /* Full width for buttons */
    margin: 5px 0; /* Margin for spacing */
    border: none;
    text-align: left;
    background-color: white;
}

