.taskBoard {
    overflow-y: auto; 
    max-height: 400px; 
    padding: 10px;
    
}

.taskCard {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
}

.taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taskPriority {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    padding: 2px; 
    border: none; 
    font-size: 12px; 
}

.priorityImage {
   
    margin-right: 5px; 
}

.taskAssignee {
    margin-left: 10px;
    font-weight: bold;
}

.taskOptions button {
    margin-left: 5px;
    border: none;
    background-color: white;
}

.taskTitle {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis; 
    max-width: 100%;
    cursor: pointer;
}

.checklistProgress {
    font-size: 14px;
}

.expandChecklistButton {
    position: relative;
    left: 15.5em;
    bottom: 1.8em;
}

.taskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popupMenu {
    position: absolute;
    top: 21.5%; 
    right: 10%; 
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
    padding: 10px;
    width: 120px;
    margin-top: 5px; 
    border-radius: 4px;
}

.popupMenu button {
    display: block;
    width: 100%; 
    margin: 5px 0; 
    border: none;
    text-align: left;
    background-color: white;
}

